body{
    background-color: rgb(231, 231, 231);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.app{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 10px;
}

.app h2{
    font-size: 40px;
    text-transform: uppercase;
}

.card{
    width: 700px;
    margin: 50px auto;
    background: rgb(177, 177, 177);
    color: rgb(78, 78, 78);
    border-radius: 20px;
    padding: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card h2{
    color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card h3{
    display: flex;
    justify-content: center;
}